<html>
<head>
    <title>Babble Admin</title>
</head>
<body>

<h3>Models</h3>
<ul>
    {% for model in models %}
        <li><a href="/content/{{ model.type }}">{{ model.name }}</a></li>
    {% endfor %}
</ul>

</body>
</html>