<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<header id="header">
    <h2>
        <a href="/">My website</a>
    </h2>
    <nav>
        <ul>
            {% for page in Page().get() %}
                <li>
                    <a href="/{{ page.id == 'index' ? '' : page.id }}">{{ page.title }}</a>
                    <ul>
                        {% for child in page.children().get() %}
                            <li>
                                <a href="/{{ child.id }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>

{% block body %}
{% endblock %}

<footer id="footer">
    Powered by Babble CMS.
</footer>

</body>
</html>