{% extends '_base.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div id="content">
        <h1>Blog</h1>
        {% for post in Post.where('is_draft', '=', false) %}
            <div class="blog-excerpt">
                <h2><a href="/blog/{{ post.id }}">{{ post.title }}</a></h2>
                <small>{{ post.published }}</small>
                <p>{{ post.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}