{% extends 'base.twig' %}

{% block body %}
    {% if this.image %}
        <img src="{{ this.image }}" id="header-image">
    {% endif %}

    <div id="content">
        <h1>{{ this.title }}</h1>
        <div>
            {{ this.body }}
        </div>
    </div>
{% endblock %}